absl-py
astor
astunparse
attrs
cachetools
certifi
cffi
chardet
charset-normalizer
contourpy
customtkinter
cycler
darkdetect
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna-metadata
importlib-resources
keras
Keras-Applications
keras-facenet
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
mediapipe
mtcnn
numpy
oauthlib
opencv-contrib-python.78
opencv-python.78
opencv-python-headless.74
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pycparser
python-dateutil
python-dotenv
python-magic
PyYAML
requests
requests-oauthlib
requests-toolbelt
roboflow
rsa
six
sounddevice
supervision
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
tqdm
typing_extensions
urllib3
Werkzeug
wrapt
zipp
